h3 {
    text-align: center;
    padding-right: 50px;
}

body {
    font-family: "San-Serif", "Courier New", monospace;
    max-width:300px;
    background-color: #91C499;
    color: whitesmoke;
    font-weight: bold;
   

}

input[type=text], input[type=password] {   
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid green;   
    box-sizing: border-box;   
}  
.container{ 
    
    
}

div{
    float:left;
    margin-right:5px;
}

li {
    padding-left: -20px;
    margin-left: -20px;
    color:whitesmoke;
    
}

a:link{
    text-decoration: none;
    color: black;

}

a:visited {
    text-decoration: none;
    color: black;

}

a:hover {
    text-decoration: none;
    color:white;
}

a:active {
    text-decoration: none;
    color: black;
}